.col2 {
  columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
}
.col3 {
  columns: 3 100px;
  -webkit-columns: 3 100px;
  -moz-columns: 3 100px;
}
.coleft{
  float: left;
  width: 30%;
  text-align: left;
}
.colright{
  float: right;
  width: 30%;
  text-align: right;
}
.columns {display: flex; }
.colname {font-size: x-large; }